.footer {
    background-color: #343a40; /* Fondo oscuro del footer */
    padding: 20px 0;
    color: #f8f9fa;
    text-align: center;
}

.footer a {
    color: #f8f9fa;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}
